<% include partials/header  %>
    <h1>Create a new campground</h1>
    <form action="/campgrounds" method="post"></form>
    <input type="text" name="name" placeholder="">
    <input type="text" name="image" placeholder="">
    <button type="submit" class="btn btn-primary">Submit</button>


<% include partials/header  %>