/* //=============================================================================== */
/* header partial */
/* //=============================================================================== */
@media (min-width: 768px) {
    /* bootstrap.min.css:5 */
    .navbar {
        border-radius: 0px;
    }
}
.navbar {
    border: 0px;
}    


/* //=============================================================================== */
/* navbar BG color */
/* //=============================================================================== */
nav.navbar.navbar-default {
    background: linear-gradient(to left , #5854C1, #3586FC) !important;    
    /* background-color: #3E327C !important; */
}

/* navbar */
.navbar-default .navbar-brand {
    color: #fff;
}
/* navbar brand hover color  */
.navbar-default .navbar-brand:hover {
        text-decoration: underline;
        color: white;
}

/* navbar links color  */
.navbar-default .navbar-nav>li>a{
    color: white;
}
/* navbar links hover color  */
.navbar-default .navbar-nav>li>a:hover{
    text-decoration: underline;
    color: white;
}

.jumbotron{
    background-color: #F2F6FA;
}

.btn-primary .jumbo{
    background-color: #E8918E;
    border-color: none !important;
}


/* //=============================================================================== */
/* CAMPGROUNDS PAGE */
/* //=============================================================================== */
.campgrounds-row{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

a.btn.btn-primary.btn-lrg.jumbo {
    background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
    border: none;
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}

.btn-primary {
    background-color: #3ecf8e;
    border: none;
        
}

/* //=============================================================================== */
/* New Campgrounds Form Page */
/* //=============================================================================== */
.form-style{
    margin: 25px auto;
    width: 30%;
}

